Repository jnicrimi/laravel-playground: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, yamllint, phpstan, pint, hadolint

markdownlint:
  run: markdownlint {staged_files}

yamllint:
  run: yamllint --strict {staged_files}

phpstan:
  run: docker compose exec backend bash -c 'vendor/bin/phpstan clear-result-cache && vendor/bin/phpstan analyse --memory-limit 1G {staged_files}'

pint:
  run: docker compose exec backend bash -c 'vendor/bin/pint --test {staged_files}'

hadolint:
  run: hadolint {staged_files}

build(docker): entrypoint, create testing database
  docker-compose.yml
  docker/db/docker-entrypoint-initdb.d/01_create_testing_database.sql
Due: yamllint

feat: slack notification
  backend/.env.ci.encrypted
  backend/.env.example
  backend/.env.local.encrypted
  backend/.env.testing.encrypted
  backend/app/Notifications/SlackNotification.php
  backend/config/slack.php
Due: phpstan, pint

feat: notification service
  backend/.env.ci.encrypted
  backend/.env.example
  backend/.env.local.encrypted
  backend/.env.testing.encrypted
  backend/app/Providers/AppServiceProvider.php
  backend/config/notification.php
  backend/packages/Infrastructure/Service/Notification/LogNotificationService.php
  backend/packages/Infrastructure/Service/Notification/NotificationServiceInterface.php
  backend/packages/Infrastructure/Service/Notification/SlackNotificationService.php
  backend/tests/Unit/Packages/Infrastructure/Service/Notification/LogNotificationServiceTest.php
  backend/tests/Unit/Packages/Infrastructure/Service/Notification/SlackNotificationServiceTest.php
Due: phpstan, pint

feat: job
  backend/app/Jobs/ComicDestroyNotificationJob.php
  backend/app/Jobs/ComicStoreNotificationJob.php
  backend/app/Jobs/ComicUpdateNotificationJob.php
Due: phpstan, pint

refactor: remove abstract class prefix
  backend/packages/Infrastructure/QueryBuilder/Comic/Index/ComicSearchQueryBuilder.php
  backend/packages/Infrastructure/QueryBuilder/QueryBuilder.php
  backend/packages/Infrastructure/Repository/Comic/ComicRepository.php
  backend/packages/Infrastructure/Repository/EloquentRepository.php
Due: phpstan, pint

feat: notifier
  backend/packages/Infrastructure/Notifier/ComicNotifier.php
  backend/tests/Unit/Packages/Infrastructure/Notifier/ComicNotifierTest.php
Due: phpstan, pint

ci: remove github actions workflow, dependabot auto merge
  .github/workflows/dependabot-auto-merge.yml
Due: yamllint

feat: usecase
  backend/packages/Comic/Destroy/ComicDestroyRequest.php
  backend/packages/Comic/Destroy/ComicDestroyResponse.php
  backend/packages/Comic/Destroy/ComicDestroyUseCaseInterface.php
  backend/packages/Comic/Exception/ComicAlreadyExistsException.php
  backend/packages/Comic/Exception/ComicCannotBeDeletedException.php
  backend/packages/Comic/Exception/ComicNotFoundException.php
  backend/packages/Comic/Index/ComicIndexRequest.php
  backend/packages/Comic/Index/ComicIndexResponse.php
  backend/packages/Comic/Index/ComicIndexUseCaseInterface.php
  backend/packages/Comic/Show/ComicShowRequest.php
  backend/packages/Comic/Show/ComicShowResponse.php
  backend/packages/Comic/Show/ComicShowUseCaseInterface.php
  backend/packages/Comic/Store/ComicStoreRequest.php
  backend/packages/Comic/Store/ComicStoreResponse.php
  backend/packages/Comic/Store/ComicStoreUseCaseInterface.php
  backend/packages/Comic/Update/ComicUpdateRequest.php
  backend/packages/Comic/Update/ComicUpdateResponse.php
  backend/packages/Comic/Update/ComicUpdateUseCaseInterface.php
  backend/packages/RequestInterface.php
  backend/packages/ResponseInterface.php
Due: phpstan, pint

fix: docker entrypoint initdb, grant command
  docker/db/docker-entrypoint-initdb.d/01_create_testing_database.sql
Due: none

fix: usecase directory
  backend/packages/UseCase/Comic/Destroy/ComicDestroyRequest.php
  backend/packages/UseCase/Comic/Destroy/ComicDestroyResponse.php
  backend/packages/UseCase/Comic/Destroy/ComicDestroyUseCaseInterface.php
  backend/packages/UseCase/Comic/Exception/ComicAlreadyExistsException.php
  backend/packages/UseCase/Comic/Exception/ComicCannotBeDeletedException.php
  backend/packages/UseCase/Comic/Exception/ComicNotFoundException.php
  backend/packages/UseCase/Comic/Index/ComicIndexRequest.php
  backend/packages/UseCase/Comic/Index/ComicIndexResponse.php
  backend/packages/UseCase/Comic/Index/ComicIndexUseCaseInterface.php
  backend/packages/UseCase/Comic/Show/ComicShowRequest.php
  backend/packages/UseCase/Comic/Show/ComicShowResponse.php
  backend/packages/UseCase/Comic/Show/ComicShowUseCaseInterface.php
  backend/packages/UseCase/Comic/Store/ComicStoreRequest.php
  backend/packages/UseCase/Comic/Store/ComicStoreResponse.php
  backend/packages/UseCase/Comic/Store/ComicStoreUseCaseInterface.php
  backend/packages/UseCase/Comic/Update/ComicUpdateRequest.php
  backend/packages/UseCase/Comic/Update/ComicUpdateResponse.php
  backend/packages/UseCase/Comic/Update/ComicUpdateUseCaseInterface.php
  backend/packages/UseCase/RequestInterface.php
  backend/packages/UseCase/ResponseInterface.php
Due: phpstan, pint

feat: application
  backend/app/Providers/AppServiceProvider.php
  backend/packages/Application/Comic/ComicDestroyInteractor.php
  backend/packages/Application/Comic/ComicIndexInteractor.php
  backend/packages/Application/Comic/ComicShowInteractor.php
  backend/packages/Application/Comic/ComicStoreInteractor.php
  backend/packages/Application/Comic/ComicUpdateInteractor.php
  backend/tests/Unit/Packages/Application/Comic/ComicDestroyInteractorTest.php
  backend/tests/Unit/Packages/Application/Comic/ComicIndexInteractorTest.php
  backend/tests/Unit/Packages/Application/Comic/ComicShowInteractorTest.php
  backend/tests/Unit/Packages/Application/Comic/ComicStoreInteractorTest.php
  backend/tests/Unit/Packages/Application/Comic/ComicUpdateInteractorTest.php
Due: phpstan, pint

feat: controller
  backend/app/Http/Controllers/V1/ComicsController.php
  backend/app/Http/Errors/ComicError.php
  backend/app/Http/Errors/CommonError.php
  backend/app/Http/Errors/ErrorInterface.php
  backend/app/Http/Errors/ValidationError.php
  backend/app/Http/Requests/ApiFormRequest.php
  backend/app/Http/Requests/V1/Comic/DestroyFormRequest.php
  backend/app/Http/Requests/V1/Comic/IndexFormRequest.php
  backend/app/Http/Requests/V1/Comic/ShowFormRequest.php
  backend/app/Http/Requests/V1/Comic/StoreFormRequest.php
  backend/app/Http/Requests/V1/Comic/UpdateFormRequest.php
  backend/app/Http/Resources/ErrorResource.php
  backend/app/Http/Resources/V1/Comic/DestroyResource.php
  backend/app/Http/Resources/V1/Comic/IndexResource.php
  backend/app/Http/Resources/V1/Comic/ShowResource.php
  backend/app/Http/Resources/V1/Comic/StoreResource.php
  backend/app/Http/Resources/V1/Comic/UpdateResource.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Rules/Comic/ComicKeyFormatRule.php
  backend/bootstrap/app.php
  backend/composer.json
  backend/composer.lock
  backend/config/sanctum.php
  backend/database/migrations/2024_08_10_173154_create_personal_access_tokens_table.php
  backend/routes/api.php
  backend/tests/Feature/App/Http/Controllers/V1/ComicsControllerTest.php
  backend/tests/Feature/ExampleTest.php
Due: phpstan, pint

fix: paginate
  backend/packages/UseCase/Comic/Index/ComicIndexResponse.php
Due: phpstan, pint

fix: env
  backend/.env.ci.encrypted
  backend/.env.local.encrypted
  backend/.env.testing.encrypted
Due: none

feat: redocly
  .gitignore
  .redocly.lint-ignore.yaml
  backend/storage/redoc/.gitignore
  backend/storage/redoc/components/schemas.yaml
  backend/storage/redoc/components/schemas/comic.yaml
  backend/storage/redoc/components/schemas/errors/comic.yaml
  backend/storage/redoc/components/schemas/errors/common.yaml
  backend/storage/redoc/components/schemas/pagination.yaml
  backend/storage/redoc/index.yaml
  backend/storage/redoc/paths/comics.comic-id.yaml
  backend/storage/redoc/paths/comics.yaml
  lefthook.yml
  package.json
Due: yamllint

chore: add blank line
  lefthook.yml
Due: yamllint

ci: lint redoc
  .github/workflows/lint-redoc.yaml
Due: yamllint

fix: github actions
  .github/workflows/lint-php.yml
  .github/workflows/lint-redoc.yaml
  .github/workflows/preset-pr.yml
  .github/workflows/test-php.yml
Due: yamllint

fix: local env
  backend/.env.local.encrypted
Due: none

refactor: github actions
  .github/workflows/lint-docker.yml
  .github/workflows/lint-php.yml
  .github/workflows/lint-redoc.yaml
  .github/workflows/test-php.yml
Due: yamllint

chore: rename repository
  README.md
  backend/storage/redoc/index.yaml
  package-lock.json
Due: markdownlint, yamllint

build(docker): dbdata volume
  docker-compose.yml
Due: yamllint

feat(pint): settings
  backend/.gitignore
  backend/pint.json
Due: none

fix: pint
  backend/app/Http/Controllers/Controller.php
  backend/app/Models/User.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Rules/Comic/ComicKeyFormatRule.php
  backend/bootstrap/app.php
  backend/bootstrap/providers.php
  backend/config/app.php
  backend/config/auth.php
  backend/config/cache.php
  backend/config/database.php
  backend/config/filesystems.php
  backend/config/logging.php
  backend/config/mail.php
  backend/config/queue.php
  backend/config/sanctum.php
  backend/config/services.php
  backend/config/session.php
  backend/database/factories/UserFactory.php
  backend/database/migrations/0001_01_01_000000_create_users_table.php
  backend/database/migrations/0001_01_01_000001_create_cache_table.php
  backend/database/migrations/0001_01_01_000002_create_jobs_table.php
  backend/database/migrations/2024_08_10_173154_create_personal_access_tokens_table.php
  backend/database/seeders/DatabaseSeeder.php
  backend/lang/en/auth.php
  backend/lang/en/pagination.php
  backend/lang/en/passwords.php
  backend/lang/en/validation.php
  backend/lang/ja/auth.php
  backend/lang/ja/pagination.php
  backend/lang/ja/passwords.php
  backend/lang/ja/validation.php
  backend/public/index.php
  backend/routes/console.php
  backend/routes/web.php
  backend/tests/TestCase.php
  backend/tests/Unit/Packages/Infrastructure/Service/Notification/SlackNotificationServiceTest.php
Due: phpstan, pint

chore: remove laravel editorconfig
  backend/.editorconfig
Due: none

feat: justfile
  .editorconfig
  Justfile
  Makefile
Due: none

chore: rename justfile
  justfile
Due: none

feat: dependabot, groups
  .github/dependabot.yml
Due: yamllint

fix: upgrade larastan 3.x
  backend/app/Models/Comic.php
  backend/app/Models/User.php
  backend/packages/Domain/EnumMatchable.php
  backend/phpstan.neon
Due: phpstan, pint

fix: pint
  backend/tests/Feature/App/Http/Controllers/V1/ComicsControllerTest.php
  backend/tests/Unit/Packages/Application/Comic/ComicDestroyInteractorTest.php
  backend/tests/Unit/Packages/Application/Comic/ComicIndexInteractorTest.php
  backend/tests/Unit/Packages/Application/Comic/ComicShowInteractorTest.php
  backend/tests/Unit/Packages/Application/Comic/ComicStoreInteractorTest.php
  backend/tests/Unit/Packages/Application/Comic/ComicUpdateInteractorTest.php
  backend/tests/Unit/Packages/Domain/Comic/ComicIdTest.php
  backend/tests/Unit/Packages/Domain/Comic/ComicKeyTest.php
  backend/tests/Unit/Packages/Domain/Comic/ComicNameTest.php
  backend/tests/Unit/Packages/Domain/Comic/ComicStatusTest.php
  backend/tests/Unit/Packages/Domain/Comic/ComicTest.php
  backend/tests/Unit/Packages/Domain/Comic/ComicsTest.php
  backend/tests/Unit/Packages/Domain/EntitiesTest.php
  backend/tests/Unit/Packages/Domain/PaginationTest.php
  backend/tests/Unit/Packages/Domain/ValueObjectTest.php
  backend/tests/Unit/Packages/Infrastructure/Notifier/ComicNotifierTest.php
  backend/tests/Unit/Packages/Infrastructure/QueryBuilder/Comic/Index/ComicSearchQueryBuilderTest.php
  backend/tests/Unit/Packages/Infrastructure/Repository/Comic/ComicRepositoryTest.php
  backend/tests/Unit/Packages/Infrastructure/Service/Notification/LogNotificationServiceTest.php
  backend/tests/Unit/Packages/Infrastructure/Service/Notification/SlackNotificationServiceTest.php
Due: phpstan, pint

fix(phpstan): remove @phpstan-ignore-next-line
  backend/routes/console.php
Due: phpstan, pint

chore: update editorconfig
  .editorconfig
Due: none

chore: update commitlint config
  commitlint.config.js
  lefthook.yml
Due: yamllint

chore: remove node dependencies
  .github/dependabot.yml
  .gitignore
  commitlint.config.js
  package-lock.json
  package.json
Due: yamllint

chore: update markdownlint config
  .markdownlint.yml
Due: yamllint

chore: update yamllint config
  .yamllint.yml
Due: yamllint

chore: remove yaml document separators
  .coderabbit.yaml
  .github/dependabot.yml
  .github/workflows/lint-docker.yml
  .github/workflows/lint-php.yml
  .github/workflows/lint-redoc.yaml
  .github/workflows/preset-pr.yml
  .github/workflows/test-php.yml
  .hadolint.yaml
  .markdownlint.yml
  .redocly.lint-ignore.yaml
  .yamllint.yml
  backend/storage/redoc/components/schemas.yaml
  backend/storage/redoc/components/schemas/comic.yaml
  backend/storage/redoc/components/schemas/errors/comic.yaml
  backend/storage/redoc/components/schemas/errors/common.yaml
  backend/storage/redoc/components/schemas/pagination.yaml
  backend/storage/redoc/index.yaml
  backend/storage/redoc/paths/comics.comic-id.yaml
  backend/storage/redoc/paths/comics.yaml
  docker-compose.yml
  lefthook.yml
Due: yamllint

chore: rename yaml file extensions to yml
  .coderabbit.yml
  .github/workflows/lint-redoc.yml
  .hadolint.yml
Due: yamllint

chore: update php requirement to 8.3
  backend/composer.json
  backend/composer.lock
Due: none

fix: restrict workflow permissions
  .github/workflows/lint-docker.yml
  .github/workflows/preset-pr.yml
Due: yamllint

Path conditions:
  markdownlint: any of: *.md, but not: ^backend/README.md$
  yamllint: any of: *.{yml,yaml}
  phpstan: any of: *.php and ^backend/
  pint: any of: *.php and ^backend/
  hadolint: any of: **/Dockerfile
